body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}
img {
  display: block;
  margin: 15px;
  border-radius: 8px;
  width: 240px;
}
.wrapper {
  width: 270px;
  height: 430px;
  background-color: white;
  border-radius: 17px;
}
h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: hsl(218, 44%, 22%);
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: hsl(216, 15%, 48%);
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
